// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FINE RESET

// STILI GENERALI
body {
  color: $colore_primario;
}

a {
  color: $colore_primario;
  text-decoration: none;
}
//
// @for $i from 2 through 3 {
//   h#{$i} {
//     font-size: $font_size_h#{$i};
//     line-height: $line_height_h#{$i};
//     margin-bottom: 20px;
//   }
// }
// $list-font-size: 50px 30px;
// $list-line-heigth: 80px 50px;
@for $i from 2 through 3 {
   h#{$i} {
     font-size: nth($list-font-size, $i - 1);
     line-height: nth($list-line-height, $i -1);
     margin-bottom: 20px;
   }
 }


// $numero_elemento: 1;
// h2 {
//   // font-size: $font_size_h2;
//   // line-height: $line_height_h2;
//   @include lista_font_size($numero_elemento);
//   @include lista_line_height($numero_elemento);
//   margin-bottom: 20px;
// }
//
// $numero_elemento: 2;
// h3 {
//   // font-size: $font_size_h3;
//   // line-height: $line_height_h3;
//   @include lista_font_size($numero_elemento);
//   @include lista_line_height($numero_elemento);
//   margin-bottom: 20px;
// }

p {
  margin: 10px 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 90%;
  margin: auto;
}

.sezione {
  padding: 40px 0;
}

.menu {
  @include display_flex;

  > li {
    padding: 10px 0;
    cursor: pointer;
  }
  .dropdown {
    display: none;
  }
}

.btn {
  @include bottone;
}
