// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FINE RESET

// STILI GENERALI
body {
  color: $colore_primario;
  font-size: $font_size_generale;
}

a {
  color: $colore_primario;
  text-decoration: none;
}

// Genera h2 e h3
@for $i from 2 through 3 {
  h#{$i} {
    font-size: nth($list-font-size-h, $i - 1);
    line-height: nth($list-line-height-h, $i - 1);
    margin-bottom: $margin_btm_20;
  }
}

p {
  margin: 10px 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 80%;
  margin: auto;
}

.sezione {
  padding: 40px 0;
}

.menu {
  @include display_flex;

  > li {
    padding: 10px 0;
    cursor: pointer;
  }
  .dropdown {
    display: none;
  }
}

.btn {
  @include bottone;
}
