// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// FINE RESET

// STILI GENERALI
body {
  color: $colore_primario;
  font-size: $font_size_generale;
}

a {
  color: $colore_primario;
  text-decoration: none;
}

// Genera h2 e h3
@for $i from 2 through 4 {
  h#{$i} {
    font-size: nth($lista-font-size-h, $i - 1);
    line-height: nth($lista-line-height-h, $i - 1);
    margin-bottom: nth($lista_margini, 2);
  }
}

p {
  margin: nth($lista_margini, 1) 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

// Impaginazione
.container {
  width: $container_mobile_width;
  margin: auto;
}

.container.wide {
  width: auto;
  padding: 0 20px;
}

.sezione {
  padding: 40px 0;
}
// Fine Impaginazione

.sezione.secondaria {
  text-align: center;
  background-color: $backgr_secondario;
}

.menu {
  @include display_flex;
}

.cta {
  @include cta;
}

.btn {
  @include bottone;
}
