.navbar {
  @include navbar;
}

.navigation .menu {
  @include navigation_mobile;
  font-weight: bold;
  background-color: #fff;

  > li {
    padding: 10px 0;
    cursor: pointer;
    position: relative;

    i {
      font-size: $font_size_icona;
    }
    .dropdown {
      @include dropdown_mobile;
      display: none;
    }
  }
  .sing-up {
    @include bottone_xl;
    display: block;
    text-align: center;
  }
}

#burger-menu,
#chiudi-menu {
  cursor: pointer;
}

#chiudi-menu {
  display: none;
}
