main {
  text-align: center;
}

#jumbotron .container {
  @include display_flex;
  flex-direction: column;

  [class$="-jumbo"] {
    margin-bottom: nth($lista_margini, 3);
  }
  .cta {
    @include cta;
  }
}

#lavoro {
  text-align: center;
  background-color: $backgr_secondario;

  [class$="-teambit"] {
    .caratteristiche {
      @include display_flex;
      @include caratteristiche;
    }
    .risultato {
      @include risultato;
    }
  }
  hr {
    margin-bottom: nth($lista_margini, 10);
  }
}

#community {
  padding: 20px;

  .riga {
    @include riga;
  }
}
