main {
  text-align: center;
}

#jumbotron .container {
  @include display_flex;
  flex-direction: column;

  [class$="-jumbo"] {
    margin-bottom: nth($lista_margini, 3);
  }
}

#lavoro {
  [class$="-teambit"] {
    .caratteristiche {
      @include display_flex;
      @include caratteristiche;
    }
    .risultato {
      @include risultato;
    }
  }
  hr {
    margin-bottom: nth($lista_margini, 10);
  }
}

#community {
  .riga {
    @include riga;
  }
}

#visione {
  h2 {
    margin-bottom: nth($lista_margini, 6);
    img {
      width: 30px;
      vertical-align: baseline;
    }
  }
  .messaggio {
    @include messaggio;
  }
}
