@media screen and (min-width: 992px) {

  // COMMON

  .container {
    width: 80%;
  }

  // HEADER
  .navigation .menu {
    @include navigation_web;

    > li {
      margin-left: nth($lista_margini, 2);

      .dropdown {
        @include dropdown_web;
      }
    }
    .sing-up {
      display: inline;
    }
  }

  #burger-menu {
    display: none;
  }
  // FINE HEADER

  // MAIN
  main {
    text-align: left;
  }

  #jumbotron .container {
    @include display_flex;
    flex-direction: row;

    [class$="-jumbo"] {
      width: 50%;
      margin-bottom: 0;

      .accesso-email {
        font-size: 15px;
      }
    }
  }

  #lavoro {
    [class$="-teambit"] {

      .caratteristiche {
        flex-direction: row;
        align-items: flex-start;

        .box {
          margin-bottom: nth($lista_margini, 2);

          .immagine {
            height: 100px;

            img {
              height: 100%;
            }
          }
          .descrizione {
            font-size: 15px;
          }
        }
      }
      .risultato {
        width: 30%;
      }
    }
  }


  #community {
    padding: 40px 20px;

    .riga {
      width: 80%;
      margin-bottom: nth($lista_margini, 6);
      @include display_flex;

      &.sinistra {
        margin-right: auto;
        flex-direction: row;
      }
      &.destra {
        margin-left: auto;
        flex-direction: row-reverse;
      }
      .immagine {
        width: 60%;
        margin-bottom: 0;
      }
      .descrizione {
        width: 40%;
        h3 {
          margin-bottom: nth($lista_margini, 6);
        }
        p {
          margin-bottom: nth($lista_margini, 4);
        }
        .learn-more {
          display: block;
          color: $colore_secondario;
          margin-bottom: nth($lista_margini, 2);
        }
      }
    }
  }
  // FINE MAIN
}
