@media screen and (min-width: 992px) {

  // HEADER
  .navigation .menu {
    @include navigation_web;

    > li {
      margin-left: 20px;

      .dropdown {
        @include dropdown_web;
      }
    }
    .sing-up {
      display: inline;
    }
  }

  #burger-menu {
    display: none;
  }
  // FINE HEADER

  // MAIN
  main {
    text-align: left;
  }

  #jumbotron .container {
    @include display_flex;
    flex-direction: row;

    [class$="-jumbo"] {
      width: 50%;
      margin-bottom: 0;
    }
  }
  // FINE MAIN
}
