@mixin display_flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin navbar {
  width: 100%;
  height: 70px;
  font-size: $font_size_header;
  border-bottom: 1px solid $colore_primario;
  @include display_flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@mixin navigation_mobile {
  display: none;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
}

@mixin navigation_web {
  @include display_flex;
  flex-direction: row;
  position: static;
  padding: 0;
}

@mixin dropdown_mobile {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;

  > li {
    padding: 10px;
  }
}

@mixin dropdown_web {
  width: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border: 1px solid $colore_primario;
}

@mixin bottone {
  border-radius: 5px;
  padding: 6px 10px;
  margin: nth($lista_margini, 1) 0;
  white-space: nowrap;

  img {
    width: 20px;
  }
}

@mixin bottone_sm {
  display: inline-block;
  font-size: $font_size_btn;
  color: #fff;
  background-color: $colore_secondario;
  border: 1px solid $colore_secondario;

  &:hover {
    color: $colore_secondario;
    background-color: #fff;
  }
}

@mixin bottone_xl {
  padding: 12px 15px;
  color: $colore_secondario;
  background-color: #fff;
  border: 1px solid $colore_secondario;

  &:hover {
    color: #fff;
    background-color: $colore_secondario;
  }
}

@mixin cta {
  margin-top: nth($lista_margini, 5);

  .standard {
    @include bottone_sm;
  }
  .accesso-email {
    @include accesso-email;
  }
}

@mixin accesso-email {
  display: block;
  margin-top: nth($lista_margini, 2);
  font-size: $font_size_descrizione;
}

@mixin caratteristiche {
  @include display_flex;
  margin: nth($lista_margini, 4) 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .box {
    @include box;
  }
}

@mixin box {
  margin-bottom: nth($lista_margini, 6);

  .immagine {
    margin: nth($lista_margini, 3) auto;
    height: 200px;

    img {
      width: auto;
      height: 100%;
    }
  }
  .descrizione {
    font-size: $font_size_descrizione;
  }
}

@mixin risultato {
  width: 70%;
  margin: auto;
  margin-bottom: nth($lista_margini, 10);
}

@mixin riga {
  @include display_flex;
  margin-bottom: nth($lista_margini, 10);

  &.sinistra {
    flex-direction: column;
  }
  &.destra {
    flex-direction: column-reverse;
  }
  .immagine {
    margin-bottom: nth($lista_margini, 4);
  }
  .descrizione {
    h3 {
      margin-bottom: nth($lista_margini, 6);
    }
    p {
      margin-bottom: nth($lista_margini, 4);
    }
    .learn-more {
      @include learn_more;
    }
  }
}

@mixin learn_more {
  display: block;
  color: $colore_secondario;
  margin-bottom: nth($lista_margini, 2);
}
