// COLORI
$colore_primario: #58402c;
$colore_secondario: #2d4691;
// FINE COLORI

// FONT-SIZE
$font_size_generale: 20px;
$font_size_header: 17px;
$font_size_h2: 40px;
$font_size_h3: 30px;
$font_size_didascalia: 13px;
// FINE FONT-SIZE
