// COLORI
$colore_primario: #58402c;
$colore_secondario: #2d4691;
// FINE COLORI

// FONT-SIZE
$font_size_generale: 20px;
$font_size_header: 17px;
$font_size_h2: 50px;
$font_size_h3: 30px;
$font_size_btn: 15px;
$font_size_descrizione: 15px;
// FINE FONT-SIZE

// LINE HEIGHT
$line_height_h2: 80px;
$line_height_h3: 50px;
// FINE LINE HEIGHT
