// COLORI
$colore_primario: #58402c;
$colore_secondario: #2d4691;
// FINE COLORI

$backgr_secondario: #fee7d1;

// FONT-SIZE
$lista-font-size-h: 50px 30px;
$font_size_generale: 22px;
$font_size_header: 17px;
$font_size_btn: 15px;
$font_size_icona: 15px;
$font_size_descrizione: 18px;
// FINE FONT-SIZE

// LINE HEIGHT
$lista-line-height-h: 80px 50px;
// FINE LINE HEIGHT

// MARGINI
$lista_margini: 10px 20px 30px 40px 50px 60px 70px 80px 90px 100px;
$margin_btm_20: 20px;
// FINE MARGINI
